<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Traffic_Fanren</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 配置Spring -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:Spring/applicationContext-*.xml</param-value>
  </context-param>
  <!-- 配置监听器用于加载spring -->
  <listener>
  	<listener-class>  	org.springframework.web.context.ContextLoaderListener  	</listener-class>
  </listener>
  <!-- 配置过滤器解决乱码 -->
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置springmvc -->
  <servlet>
	  	<servlet-name>springmvc</servlet-name>
	  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  	<init-param>
	  		<param-name>contextConfigLocation</param-name>
	  		<param-value>classpath:Spring/springmvc.xml</param-value>
	  	</init-param>
	  	<!-- 配置springmvc什么时候启动，参数必须为整数 -->
		<!-- 如果为0或者大于0，则springMVC随着容器启动而启动 -->
		<!-- 如果小于0，则在第一次请求进来的时候启动 -->
	  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	  	<servlet-name>springmvc</servlet-name>
	  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
</web-app>